.aui-bar-nav { background: #000; }
.aui-content { height: calc(100% - 2.25rem); background: #54c3f1 url(../images/soogif1.gif) no-repeat center; background-size: cover; }
/*.aui-content img { width: 100%; }*/
